<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXPahAsQlvzPgU2QgVW0au9zl6O6bRYis</string>
	<key>GCM_SENDER_ID</key>
	<string>184570545081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dev.storyverse</string>
	<key>PROJECT_ID</key>
	<string>enlightq-ae9d4</string>
	<key>STORAGE_BUCKET</key>
	<string>enlightq-ae9d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:184570545081:ios:254dd8b0107020f19e6c68</string>
</dict>
</plist>